@{
    ViewBag.Title = "Forgot password";
}

@model ForumApp.ViewModels.Account.ForgotPasswordViewModel

<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.8/css/all.css">

<div class="container body-content">
    <div class="card bg-light">
        <article class="card-body mx-auto" style="max-width: 400px;">
            <h4 class="card-title mt-3 text-center">Sign in</h4>

            <form asp-controller="Account" asp-action="Login" asp-route-returnUrl="@ViewData["ReturnUrl"]">
                <div asp-validation-summary="All" class="text-danger"></div>

                <div class="form-group input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text"> <i class="fa fa-envelope"></i> </span>
                    </div>
                    <input asp-for="Email" class="form-control" placeholder="Type yout email here" type="email">
                    <span asp-validation-for="Email" class="text-danger account-span"></span>
                </div> <!-- Email -->

                <div class="form-group">
                    <button type="submit" class="btn btn-primary btn-block"> Restore </button>
                </div> <!-- Restore -->
            </form>
        </article>
    </div> <!-- card.// -->

</div>
<!--container end.//-->

@section Scripts {
    @await Html.PartialAsync("_ValidationScriptsPartial")
}